no-csp-reports: * true
no-large-media: behind-the-scene false
* * 3p block
* * 3p-frame block
* * 3p-script block
1337x.to * 3p noop
boards.4chan.org 4cdn.org * noop
www.4chan.org 4cdn.org * noop
www.4chan.org cloudflare.com * noop
www.abandonwaredos.com stackpath.bootstrapcdn.com * noop
www.adobe.com geo2.adobe.com * block
www.adobe.com assets.adobedtm.com * noop
www.adobe.com auth-cloudfront.prod.ims.adobejanus.com * noop
www.adobe.com akamaiedge.net * noop
www.amazon.co.jp media.amazon.map.fastly.net * noop
www.amazon.co.jp d1z43etpa00ikg.cloudfront.net * noop
www.amazon.co.jp c.media-amazon.com * noop
www.amazon.co.jp m.media-amazon.com * noop
www.amazon.co.jp images-fe.ssl-images-amazon.com * noop
www.amazon.co.uk media.amazon.map.fastly.net * noop
www.amazon.co.uk c.media-amazon.com * noop
www.amazon.co.uk m.media-amazon.com * noop
www.amazon.co.uk images-eu.ssl-images-amazon.com * noop
www.amazon.co.uk images-na.ssl-images-amazon.com * noop
www.amazon.com media.amazon.map.fastly.net * noop
www.amazon.com c.media-amazon.com * noop
www.amazon.com m.media-amazon.com * noop
www.amazon.com images-na.ssl-images-amazon.com * noop
discussions.apple.com akamaiedge.net * noop
support.apple.com akamaiedge.net * noop
www.apple.com akamaiedge.net * noop
www.apple.com store.storeimages.cdn-apple.com * noop
behind-the-scene * * noop
behind-the-scene * 1p-script noop
behind-the-scene * 3p noop
behind-the-scene * 3p-frame noop
behind-the-scene * 3p-script noop
behind-the-scene * image noop
behind-the-scene * inline-script noop
betterhumans.pub cdn-client.medium.com * noop
betterhumans.pub miro.medium.com * noop
bitly.com cloudfront.net * noop
creativecommons.org player.vimeo.com.cdn.cloudflare.net * noop
creativecommons.org vimeo-video.map.fastly.net * noop
creativecommons.org player.vimeo.com * noop
creativecommons.org vimeo.map.fastly.net * noop
creativecommons.org cme-media.vimeocdn.com * noop
creativecommons.org f.vimeocdn.com * noop
creativecommons.org fresnel.vimeocdn.com * noop
creativecommons.org i.vimeocdn.com * noop
creativecommons.org skyfire.vimeocdn.com * noop
www.dailymail.co.uk jsdelivr.map.fastly.net * noop
www.dailymail.co.uk cdn.jsdelivr.net * noop
signin.ebay.co.uk ir.ebaystatic.com * noop
signin.ebay.co.uk systemcdn.net * noop
www.ebay.co.uk akamaiedge.net * noop
www.ebay.co.uk ebay.com * noop
www.ebay.co.uk ebay.map.fastly.net * noop
www.ebay.co.uk i.ebayimg.com * noop
www.ebay.co.uk ebayimg.map.fastly.net * noop
www.ebay.co.uk autosug.ebaystatic.com * noop
www.ebay.co.uk ir.ebaystatic.com * noop
www.ebay.co.uk p.ebaystatic.com * noop
www.ebay.co.uk pics.ebaystatic.com * noop
www.ebay.co.uk secureir.ebaystatic.com * noop
www.ebay.co.uk hcaptcha.com * noop
www.ebay.co.uk systemcdn.net * noop
www.ebay.it autotrack.g.ebay.com * noop
www.ebay.it signin.g.ebay.com * noop
www.ebay.it ebay.map.fastly.net * noop
www.ebay.it ebaydesc.com * noop
www.ebay.it i.ebayimg.com * noop
www.ebay.it ebayimg.map.fastly.net * noop
www.ebay.it srv.it.ebayrtm.com * noop
www.ebay.it ir.ebaystatic.com * noop
www.ebay.it secureir.ebaystatic.com * noop
www.etsy.com akamai.net * noop
www.etsy.com i.etsystatic.com * noop
www.etsy.com js.sentry-cdn.com * noop
www.facebook.com fbcdn.net * noop
discussion.fedoraproject.org discourse-cdn.com * noop
flickr.com cloudfront.net * noop
flickr.com combo.staticflickr.com * noop
www.flickr.com staticflickr.com * noop
www.forbes.com m.sni.global.fastly.net * noop
www.forbes.com i.forbesimg.com * noop
github.com avatars.githubusercontent.com * noop
github.com githubassets.com * noop
github.com github.githubassets.com * noop
github.com s3-w.us-east-1.amazonaws.com * noop
github.com s3.amazonaws.com * noop
github.com user-images.githubusercontent.com * noop
gog-games.to challenges.cloudflare.com * noop
www.gog.com deltacdn.net * noop
www.gog.com images.gog-statics.com * noop
www.gog.com menu-static.gog-statics.com * noop
www.gog.com productcard.gog-statics.com * noop
accounts.google.com lh3.googleusercontent.com * noop
accounts.google.com gstatic.com * noop
accounts.google.com www.gstatic.com * noop
calendar.google.com lh3.googleusercontent.com * noop
calendar.google.com fonts.gstatic.com * noop
calendar.google.com www.gstatic.com * noop
chrome.google.com lh3.googleusercontent.com * noop
chrome.google.com www.gstatic.com * noop
developers.google.com lh3.googleusercontent.com * noop
developers.google.com www.gstatic.com * noop
docs.google.com googleusercontent.com * noop
docs.google.com fonts.gstatic.com * noop
docs.google.com ssl.gstatic.com * noop
docs.google.com www.gstatic.com * noop
drive.google.com fonts.googleapis.com * noop
drive.google.com googleusercontent.com * noop
drive.google.com drive-thirdparty.googleusercontent.com * noop
drive.google.com lh3.googleusercontent.com * noop
drive.google.com gstatic.com * noop
drive.google.com ssl.gstatic.com * noop
drive.google.com www.gstatic.com * noop
firebase.google.com fonts.googleapis.com * noop
firebase.google.com lh3.googleusercontent.com * noop
firebase.google.com fonts.gstatic.com * noop
firebase.google.com www.gstatic.com * noop
firebase.google.com www.youtube.com * noop
lens.google.com csp.withgoogle.com * noop
lens.google.com gstatic.com * noop
mail.google.com lh3.googleusercontent.com * noop
mail.google.com fonts.gstatic.com * noop
mail.google.com www.gstatic.com * noop
myaccount.google.com lh3.googleusercontent.com * noop
myaccount.google.com fonts.gstatic.com * noop
myaccount.google.com www.gstatic.com * noop
play.google.com lh3.googleusercontent.com * noop
play.google.com play-lh.googleusercontent.com * noop
play.google.com fonts.gstatic.com * noop
play.google.com www.gstatic.com * noop
play.google.com i.ytimg.com * noop
policies.google.com yt3.ggpht.com * noop
policies.google.com photos-ugc.l.googleusercontent.com * noop
policies.google.com lh3.googleusercontent.com * noop
policies.google.com googlevideo.com * noop
policies.google.com www.gstatic.com * noop
policies.google.com www.youtube-nocookie.com * noop
policies.google.com i.ytimg.com * noop
sites.google.com fonts.googleapis.com * noop
sites.google.com lh3.googleusercontent.com * noop
sites.google.com fonts.gstatic.com * noop
sites.google.com ssl.gstatic.com * noop
sites.google.com www.gstatic.com * noop
support.google.com lh3.googleusercontent.com * noop
support.google.com fonts.gstatic.com * noop
support.google.com ssl.gstatic.com * noop
support.google.com www.gstatic.com * noop
www.google.com * 3p-script noop
www.google.com * image noop
www.google.com lh3.googleusercontent.com * noop
www.google.com encrypted-tbn0.gstatic.com * noop
www.google.com encrypted-tbn1.gstatic.com * noop
www.google.com encrypted-tbn2.gstatic.com * noop
www.google.com encrypted-tbn3.gstatic.com * noop
www.google.com fonts.gstatic.com * noop
www.google.com maps.gstatic.com * noop
www.google.com www.gstatic.com * noop
developers.googleblog.com www.gstatic.com * noop
workspaceupdates.googleblog.com ajax.googleapis.com * noop
workspaceupdates.googleblog.com www.blogger.com * noop
workspaceupdates.googleblog.com 2.bp.blogspot.com * noop
workspaceupdates.googleblog.com blogger.l.google.com * noop
workspaceupdates.googleblog.com blogger.googleusercontent.com * noop
workspaceupdates.googleblog.com photos-ugc.l.googleusercontent.com * noop
www.ifixit.com cloudfront.net * noop
imgur.com ipv4.imgur.map.fastly.net * noop
www.instagram.com static.cdninstagram.com * noop
kick.com dbxmjjzl5pc1g.cloudfront.net * noop
kick.com live-video.net * noop
www.linkedin.com akamai.net * noop
www.linkedin.com static.licdn.com * noop
login.live.com alphacdn.net * noop
login.live.com azureedge.net * noop
login.live.com logincdn.msauth.net * noop
login.live.com logincdn.msftauth.net * noop
app.luminpdf.com content.googleapis.com * noop
app.luminpdf.com google.com * noop
app.luminpdf.com storage.googleapis.com * noop
app.luminpdf.com www.googleapis.com * noop
www.mariowiki.com mario.wiki.gallery * noop
www.meetup.com cloudfront.net * noop
www.meetup.com f4.shared.global.fastly.net * noop
www.meetup.com secure.meetupstatic.com * noop
www.meetup.com secure-content.meetupstatic.com * noop
dotnet.microsoft.com dscb.akamaiedge.net * noop
dotnet.microsoft.com part-0036.t-0009.t-msedge.net * noop
www.microsoft.com akamai.net * noop
www.microsoft.com akamaiedge.net * noop
www.microsoft.com mem.gfx.ms * noop
www.microsoft.com t-msedge.net * noop
musicbrainz.org static.metabrainz.org * noop
eac.yahoogroups.narkive.com narkive.net * noop
www.nytimes.com nyt.com * noop
www.nytimes.com nytimes.map.fastly.net * noop
www.omgubuntu.co.uk yt3.ggpht.com * noop
www.omgubuntu.co.uk youtube-ui.l.google.com * noop
www.omgubuntu.co.uk googlevideo.com * noop
www.omgubuntu.co.uk pressablecdn.com * noop
www.omgubuntu.co.uk www.youtube.com * noop
www.paypal.com betacdn.net * noop
www.paypal.com www.paypalobjects.com * noop
www.paypal.com www.recaptcha.net * noop
www.pinterest.com dsca.akamaiedge.net * noop
www.pinterest.com i.pinimg.com * noop
www.pinterest.com s.pinimg.com * noop
www.pinterest.com dualstack.pinterest.map.fastly.net * noop
www.pinterest.com www.recaptcha.net * noop
www.pishop.us bigcommerce.com * noop
www.pishop.us maxcdn.bootstrapcdn.com * noop
www.pishop.us cdn11.bigcommerce.com.cdn.cloudflare.net * noop
www.pishop.us checkout-sdk.bigcommerce.com.cdn.cloudflare.net * noop
www.play-asia.com playasia.b-cdn.net * noop
www.play-asia.com s.pacn.ws * noop
app.plex.tv plex.direct * noop
www.printmag.com pressablecdn.com * noop
www.printmag.com c0.wp.com * noop
www.printmag.com i0.wp.com * noop
beta.reddit.com reddit.map.fastly.net * noop
beta.reddit.com redditmedia.com * noop
beta.reddit.com www.redditstatic.com * noop
www.reddit.com yt3.ggpht.com * noop
www.reddit.com youtube-ui.l.google.com * noop
www.reddit.com photos-ugc.l.googleusercontent.com * noop
www.reddit.com googlevideo.com * noop
www.reddit.com external-preview.redd.it * noop
www.reddit.com preview.redd.it * noop
www.reddit.com v.redd.it * noop
www.reddit.com reddit.map.fastly.net * noop
www.reddit.com styles.redditmedia.com * noop
www.reddit.com a.thumbs.redditmedia.com * noop
www.reddit.com b.thumbs.redditmedia.com * noop
www.reddit.com www.redditstatic.com * noop
www.reddit.com www.youtube-nocookie.com * noop
www.reddit.com i.ytimg.com * noop
serverfault.com cdn.sstatic.net * noop
www.slideshare.net scribd.map.fastly.net * noop
www.slideshare.net api.slidesharecdn.com * noop
www.slideshare.net cdn.slidesharecdn.com * noop
www.slideshare.net public.slidesharecdn.com * noop
snapcraft.io akamaiedge.net * noop
snapcraft.io res.cloudinary.com * noop
soundcloud.com cloudfront.net * noop
soundcloud.com sndcdn.com * noop
accounts.spotify.com accounts.scdn.co * noop
accounts.spotify.com spotify.map.fastly.net * noop
open.spotify.com open.spotifycdn.com * noop
open.spotify.com spotifycdn.map.fastly.net * noop
unix.stackexchange.com cdn.sstatic.net * noop
steamcommunity.com api.steampowered.com * noop
steamcommunity.com login.steampowered.com * noop
steamcommunity.com avatars.cloudflare.steamstatic.com * noop
steamcommunity.com community.cloudflare.steamstatic.com * noop
steamdb.info algolia.net * noop
steamdb.info avatars.cloudflare.steamstatic.com * noop
steamdb.info cdn.cloudflare.steamstatic.com * noop
superuser.com cdn.sstatic.net * noop
techable.com cdn-emghl.nitrocdn.com * noop
www.tesco.com akamaiedge.net * noop
www.theguardian.com edgecastcdn.net * noop
www.theguardian.com yt3.ggpht.com * noop
www.theguardian.com googlevideo.com * noop
www.theguardian.com www.gstatic.com * noop
www.theguardian.com guardian.map.fastly.net * noop
www.theguardian.com guim.co.uk * noop
www.theguardian.com youtube.com * noop
www.theguardian.com i.ytimg.com * noop
www.tiktok.com akamai.net * noop
www.tiktok.com rsc.cdn77.org * noop
www.tiktok.com tiktokcdn.com * noop
www.tiktok.com ttwstatic.com * noop
tinyurl.com icons.duckduckgo.com * noop
tinyurl.com cdn.jsdelivr.net * noop
torbox.app challenges.cloudflare.com * noop
torbox.app do.featurebase.app * noop
torbox.app supabase.co * noop
www.torrentleech.org fonts.googleapis.com * noop
www.torrentleech.org fonts.gstatic.com * noop
trello.com cloudfront.net * noop
trello.com s3-w.us-east-1.amazonaws.com * noop
trello.com trello-members.s3.amazonaws.com * noop
twitter.com edgecastcdn.net * noop
twitter.com abs.twimg.com * noop
forum.ubuntuusers.de static-cdn.ubuntu-de.org * noop
vimeo.com akamai.net * noop
vimeo.com player.vimeo.com.cdn.cloudflare.net * noop
vimeo.com download-video.akamaized.net * noop
vimeo.com vimeo-video.map.fastly.net * noop
vimeo.com vimeo.map.fastly.net * noop
vimeo.com vimeocdn.com * noop
vk.com userapi.com * noop
www.walmart.com walmartimages.com * noop
en.wikipedia.org upload.wikimedia.org * noop
lesestube.wordpress.com s0.wp.com * noop
wordpress.org i0.wp.com * noop
www.youtube.com fonts.googleapis.com * noop
www.youtube.com yt3.ggpht.com * noop
www.youtube.com youtube-ui.l.google.com * noop
www.youtube.com photos-ugc.l.googleusercontent.com * noop
www.youtube.com yt3.googleusercontent.com * noop
www.youtube.com googlevideo.com * noop
www.youtube.com fonts.gstatic.com * noop
www.youtube.com www.gstatic.com * noop
www.youtube.com i.ytimg.com * noop
